<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Please Sign In</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" data-ng-model="loginData.userName" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" data-ng-model="loginData.password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input name="remember" type="checkbox" value="Remember Me">Remember Me
                            </label>
                        </div>

                        <div data-ng-hide="message == ''" class="alert alert-danger">
                            {{message}}
                        </div>                        

                        <a class="btn btn-lg btn-success btn-block" data-ng-click="login()">Login</a>
                        <br>
                        <a ui-sref="signup">Sign Up</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>