<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus data-ng-model="registration.userName">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Password" name="password" type="password" value="" data-ng-model="registration.password" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Confirm Password" name="password" type="password" value="" data-ng-model="registration.confirmPassword" required>
                        </div>                       

                        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                            {{message}}
                        </div>

                        <a class="btn btn-lg btn-success btn-block" data-ng-click="signUp()">Sign Up</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>