<div class="form-group">
    <label>Name</label>
    <input name="Name" class="form-control" ng-model="library.name" placeholder="Enter Name">                                
</div>
<div class="form-group">
    <label>Title</label>
    <input class="form-control" ng-model="library.title" placeholder="Enter Title">
</div>
<div class="form-group">
    <label>Description</label>
    <textarea class="form-control" rows="4" ng-model="library.description" placeholder="Enter Description">
    </textarea>
</div>

<div class="form-group">
    <label>Class Icon</label>
    <input class="form-control" ng-model="library.icon" placeholder="Enter Class Icon">
</div>
<div class="form-group">
    <label>Order</label>
    <select class="form-control" ng-model="library.order"
        ng-options="Order for Order in availableOrderOptions"></select>
</div>
<div class="form-group">
    <label>Image</label>
    <input class="form-control" ng-model="library.imageSrc" placeholder="Enter Audio src">
</div>
<div class="form-group">
    <label>Audio</label>
    <input class="form-control" ng-model="library.audioSrc" placeholder="Enter Audio src">
</div>
<div class="form-group">
    <label>Author</label>
    <input class="form-control" ng-model="library.author" placeholder="Enter Audio src">
</div>


<input type="submit" class="btn btn-primary" value="Save"/>
<input type="cancel" class="btn btn-default" ng-click="cancel()" value="Cancel"/>