<div ng-controller="LibraryListController as libraryVm">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{libraryVm.message}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            The List of {{libraryVm.message}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="grid-menu">
                <a ui-sref="addLibrary">
                    <button type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i>
                    </button>
                </a>
            </div>

            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Order</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="library in libraryVm.libraries">
                            <td>{{library.title}}</td>
                            <td>{{library.description}}</td>
                            <td>{{library.order}}</td>
                            <td>
                                <a ui-sref="editLibrary({id:library.id})" class="edit-btn">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <span></span>
                                <a class="delete-record" ng-confirm-click="Are you sure you want to delete this record?" ng-click="libraryVm.deleteLibrary(library)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>                    
</div>