<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{message}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Category
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Enter Name" ng-model="newCategory.Name">
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" placeholder="Enter Title" ng-model="newCategory.Title">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Enter Description" ng-model="newCategory.Description">
                            </div>   
                            <div class="form-group">
                                <label>Class Icon</label>
                                <input class="form-control" placeholder="Enter Class Icon" ng-model="newCategory.Icon">
                            </div>
                            <div class="form-group">
                                <label>Order</label>
                                <select class="form-control" ng-model="newCategory.Order">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>                                                              
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Library</label>
                                <select ng-options="library.Title for library in libraries track by library.Id" ng-model="newCategory.Library" class="form-control">
                                    <option value="">- choose library -</option>
                                </select>                                            
                            </div>
                            <div class="form-group">
                                <label>Parent category</label>
                                <select class="form-control">
                                    <option>Footsteps</option>
                                    <option>Run</option>
                                </select>
                            </div>   
                            <div class="form-group">
                                <label>Sound Groups</label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Main
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Extra
                                    </label>
                                </div>
                            </div>
                            <button type="submit" ng-click="save()" class="btn btn-default">Save</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->