<div class="form-group">
    <label>Name</label>
    <input name="Name" class="form-control" ng-model="SoundGroup.name" placeholder="Enter Name">                                
</div>
<div class="form-group">
    <label>Title</label>
    <input class="form-control" ng-model="SoundGroup.title" placeholder="Enter Title">
</div>
<div class="form-group">
    <label>Description</label>
    <input class="form-control" ng-model="SoundGroup.description" placeholder="Enter Description">
</div>
<div class="form-group">
    <label>Class Icon</label>
    <input class="form-control" ng-model="SoundGroup.icon" placeholder="Enter Class Icon">
</div>
<div class="form-group">
    <label>Library</label>
    <select class="form-control" ng-model="SoundGroup.libraryId">
        <option ng-repeat="option in libraries" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>
<div class="form-group">
    <label>Side</label>
    <select class="form-control"  ng-model="SoundGroup.side" ng-options="value.id as value.name for (key, value) in availableSidesOptions" convert-to-number><select>
</div>
<div class="form-group">
    <label>Order</label>
    <select class="form-control" ng-model="SoundGroup.order"
        ng-options="Order for Order in availableOrderOptions">
    </select>
</div>
<input type="submit" class="btn btn-primary" value="Save"/>
<input type="cancel" class="btn btn-default" ng-click="cancel()" value="Cancel"/>