<div class="form-group">
    <label>Name</label>
    <input name="Name" class="form-control" ng-model="Sound.name" placeholder="Enter Name">                                
</div>
<div class="form-group">
    <label>Title</label>
    <input class="form-control" ng-model="Sound.title" placeholder="Enter Title">
</div>
<div class="form-group">
    <label>Description</label>
    <input class="form-control" ng-model="Sound.description" placeholder="Enter Description">
</div>
<div class="form-group">
    <label>Class Icon</label>
    <input class="form-control" ng-model="Sound.icon" placeholder="Enter Class Icon">
</div>

<div class="form-group">
    <label>Order</label>
    <select class="form-control" ng-model="Sound.order"
        ng-options="Order for Order in availableOrderOptions">
    </select>
</div>

<div class="form-group">
    <label>Library</label>
    <select class="form-control" ng-model="Sound.libraryId">
        <option ng-repeat="option in libraries" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>

<div class="form-group">
    <label>Categories</label> <br>
    <div ng-repeat="category in categories | filter:hasLibrary">
        <label>
          <input type="checkbox" data-checklist-model="Sound.categories" data-checklist-value="category" checklist-comparator="compareCategories"> {{category.fullTitle}}
        </label>
        <br>
    </div>
</div>

<div data-ng-hide="errorMessage == ''" class="alert alert-danger">
    {{errorMessage}}
</div>                        

<input type="submit" class="btn btn-primary" value="Save"/>
<input type="cancel" class="btn btn-default" ng-click="cancel()" value="Cancel"/>