﻿<div class="form-group" ng-hide="hasFiles">
    <label for="newSoundFile">select and upload new files</label>
    <input type="file" id="newSoundFile" class="uploadFile" accept="*" eg-files="soundFiles" has-files="hasFiles" multiple>
</div>
<div class="form-group" ng-show="hasFiles && !photoManagerStatus.uploading">
    <ul class="list-inline">
        <li><strong>files:</strong></li>
        <li ng-repeat="soundFile in soundFiles"> {{soundFile.name}}</li>
    </ul>
    <input class="btn btn-warning" type="reset" value="remove" />
</div>
<div class="form-group" ng-show="photoManagerStatus.uploading">
    <p class="help-block">uploading</p>
</div>