﻿<div ng-cloak>
    <div class="row">
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info active">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10">name</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">size (kb)</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">created on</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">modified on</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
                    </div>
                </li>
                <li class="list-group-item" ng-show="photos.length === 0" ng-mouseenter="setPreviewPhoto()">no photos</li>
                <li ng-repeat="soundFile in soundFiles" class="list-group-item" ng-mouseenter="setPreviewPhoto(soundFile)" ng-mouseleave="setPreviewPhoto()">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-11 col-xs-10 wraptext">{{soundFile.name}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{soundFile.size}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{soundFile.created | date: short}}</div>
                        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">{{soundFile.modified | date: short}}</div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                            <button type="button" class="btn btn-xs btn-danger" ng-click="remove(soundFile)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <eg-sound-file-uploader></eg-sound-file-uploader>
        </div>        
        <div class="col-md-3 hidden-sm hidden-xs" style="height: 150px; width: 150px; margin-bottom: 5px;">
            <img ng-src="{{previewPhoto.url}}" style="max-height: 150px" ng-show="previewPhoto" class="img-responsive" alt="previewPhoto.name" />
        </div>            
    </div>
</div>