<div class="form-group">
    <label>Name</label>
    <input name="Name" class="form-control" ng-model="Category.name" placeholder="Enter Name">                                
</div>
<div class="form-group">
    <label>Title</label>
    <input class="form-control" ng-model="Category.title" placeholder="Enter Title">
</div>
<div class="form-group">
    <label>Description</label>
    <input class="form-control" ng-model="Category.description" placeholder="Enter Description">
</div>
<div class="form-group">
    <label>Class Icon</label>
    <input class="form-control" ng-model="Category.icon" placeholder="Enter Class Icon">
</div>
<div class="form-group">
    <label>Library</label>
    <select class="form-control" ng-model="Category.libraryId">
        <option ng-repeat="option in libraries" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>
<div class="form-group">
    <label>Parent Category</label>
    <select class="form-control" ng-model="Category.parentCategoryId">
        <option ng-repeat="option in parentCategories | filter:hasLibrary" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>
<div class="form-group">
    <label>Sound Groups</label> <br>
    <div ng-repeat="soundGroup in soundGroups | filter:soundGroupHasLibrary">
        <label>
          <input type="checkbox" data-checklist-model="Category.soundGroups" data-checklist-value="soundGroup" checklist-comparator="compareSoundGroup"> {{soundGroup.title}}
        </label>
        <br>
    </div>
</div>

<div class="form-group">
    <label>Order</label>
    <select class="form-control" ng-model="Category.order"
        ng-options="Order for Order in availableOrderOptions">
    </select>
</div>
<input type="submit" class="btn btn-primary" value="Save"/>
<input type="cancel" class="btn btn-default" ng-click="cancel()" value="Cancel"/>