<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="libraries"><i class="fa fa-library fa-fw"></i> Libraries</a>
            </li>
            <li>
                <a ui-sref="soundgroups"><i class="fa fa-category fa-fw"></i> Sound Groups</a>
            </li>
            <li>
                <a ui-sref="categories"><i class="fa fa-sound-groups fa-fw"></i> Categories</a>
            </li>
            <li>
                <a ui-sref="sounds"><i class="fa fa-library fa-fw"></i> Sounds</a>
            </li>
            <li>
                <a ui-sref="files"><i class="fa fa-library fa-fw"></i> Files</a>
            </li>
            <li>
                <a ui-sref="filesuploadbulk"><i class="fa fa-library fa-fw"></i> Files - Bulk Upload</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>