<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{message}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                New Sound Group
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input class="form-control" placeholder="Enter Name">
                            </div>
                            <div class="form-group">
                                <label>Title</label>
                                <input class="form-control" placeholder="Enter Title">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input class="form-control" placeholder="Enter Description">
                            </div>   
                            <div class="form-group">
                                <label>Class Icon</label>
                                <input class="form-control" placeholder="Enter Class Icon">
                            </div>
                            <div class="form-group">
                                <label>Library</label>
                                <select class="form-control">
                                    <option>Footsteps</option>
                                    <option>Interface</option>
                                </select>
                            </div>                  
                            <div class="form-group">
                                <label>Side</label>
                                <select class="form-control">
                                    <option>Left</option>
                                    <option>Right</option>
                                </select>
                            </div>                            
                            <div class="form-group">
                                <label>Order</label>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>                                                              
                                </select>
                            </div>
                            <button type="submit" class="btn btn-default" on-click="submitForm">Submit Button</button>
                            <button type="reset" class="btn btn-default">Reset Button</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->