            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#library"><i class="fa fa-library fa-fw"></i> Libraries</a>
                        </li>             
                        <li>
                            <a href="#category"><i class="fa fa-sound-groups fa-fw"></i> Categories</a>
                        </li>                        
                        <li>
                            <a href="categories.html"><i class="fa fa-category fa-fw"></i> Sound Groups</a>
                        </li>                        
                        <li>
                            <a href="categories.html"><i class="fa fa-library fa-fw"></i> Sounds</a>
                        </li>                        
                        <li>
                            <a href="categories.html"><i class="fa fa-library fa-fw"></i> Files</a>
                        </li>                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>