<div class="form-group">
    <label>Library</label>
    <select class="form-control" ng-model="File.libraryId">
        <option ng-repeat="option in libraries" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>
<div class="form-group">
    <label>Category</label>
    <select class="form-control" ng-model="File.categoryId">
        <option ng-repeat="option in categories | filter:hasLibraryNotParrent" value="{{option.id}}">{{option.fullTitle}}</option>
    </select>
</div>
<div class="form-group">
    <label>Sound</label>
    <select class="form-control" ng-model="File.soundId">
        <option ng-repeat="option in sounds | filter:hasCategory" value="{{option.id}}">{{option.title}}</option>
    </select>
</div>
<div class="form-group">
    <label>File</label>
    <input type="file" eg-file-uploader="File.file" multiple required/>
</div>

<div class="form-group">
</div>

<input type="submit" class="btn btn-primary" value="Save"/>
<input type="cancel" class="btn btn-default" ng-click="cancel()" value="Cancel"/>