<div ng-controller="FileListController as FileVm">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{FileVm.title}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            The List of {{FileVm.title}}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="grid-menu">
                <a ui-sref="addFile">
                    <button type="button" class="btn btn-info btn-circle"><i class="fa fa-plus"></i>
                    </button>
                </a>
            </div>

            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Library</th>
                            <th>Category</th>
                            <th>Sound</th>                            
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="File in FileVm.files">
                            <td>{{File.library}}</td>
                            <td>{{File.category}}</td>
                            <td>{{File.sound}}</td>                            
                            <td>{{File.name}}</td>
                            <td>
                                <a ui-sref="editFile({id:File.id})" class="edit-btn">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                                    <span></span>
                                <a class="delete-record" ng-confirm-click="Are you sure you want to delete this record?" ng-click="FileVm.deleteFile(File)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </td>   
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>                    
</div>
