<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{formTitle}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formTitle}}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                    
					    Drop File:
					    <div ngf-drop ngf-select ng-model="files" class="drop-box" 
					        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
					        accept="audio/*" 
					        ngf-pattern="'audio/*'">Drop pdfs or images here or click to upload</div>
					    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

					    Files:
					    <ul>
					        <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}</li>
					    </ul>

					    Upload Log:
    					<div>{{log}}</div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->