<!DOCTYPE html>
<html lang="en" ng-app="diforbLoginApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Diforb Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" data-ng-model="loginData.userName" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" data-ng-model="loginData.password">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>

                                <div data-ng-hide="message == ''" class="alert alert-danger">
                                    {{message}}
                                </div>                        

                                <a class="btn btn-lg btn-success btn-block" data-ng-click="login()">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->   
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

    <!-- Angular Libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="../js/angular-ui-router.min.js"></script>
    <script src="../js/angular-resource.min.js"></script>
    <script src="../js/angular-local-storage.min.js"></script>
    <script src="../app/app.js"></script>

    <script src="../app/services/diforb.services.js"></script>
    <script src="../app/services/diforb.services.library.js"></script>
    <script src="../app/services/diforb.services.soundgroup.js"></script>
    <script src="../app/services/diforb.services.category.js"></script>
    <script src="../app/services/diforb.services.sound.js"></script>
    <script src="../app/services/diforb.services.auth.js"></script>    
    
    <script src="../app/controllers/diforb.controllers.js"></script>
    <script src="../app/controllers/diforb.controllers.library.js"></script>
    <script src="../app/controllers/diforb.controllers.soundgroup.js"></script>
    <script src="../app/controllers/diforb.controllers.category.js"></script>    
    <script src="../app/controllers/diforb.controllers.sound.js"></script>
    <script src="../app/controllers/diforb.controllers.auth.js"></script>    
    <script src="../app/controllers/diforb.controllers.index.js"></script>   

</body>

</html>